.emoji_secret {
    background: url("https://twemoji.maxcdn.com/svg/3299.svg") no-repeat center center;
}

.emoji_raised-hand {
    background: url("https://twemoji.maxcdn.com/svg/1f64b.svg") no-repeat center center;
}

.emoji_camera {
    background: url("https://twemoji.maxcdn.com/svg/1f4f7.svg") no-repeat center center;
}

.emoji_phone {
    background: url("https://twemoji.maxcdn.com/svg/260e.svg") no-repeat center center;
}

.emoji_speech-balloon {
    background: url("https://twemoji.maxcdn.com/svg/1f4ac.svg") no-repeat center center;
}

.emoji_x {
    background: url("https://twemoji.maxcdn.com/svg/274c.svg") no-repeat center center;
}

.emoji_paw-prints {
    background: url("https://twemoji.maxcdn.com/svg/1f43e.svg") no-repeat center center;
}

.emoji_runner {
    background: url("https://twemoji.maxcdn.com/svg/1f3c3.svg") no-repeat center center;
}

.emoji_wine-glass {
    background: url("https://twemoji.maxcdn.com/svg/1f377.svg") no-repeat center center;
}

.emoji_city-sunrise {
    background: url("https://twemoji.maxcdn.com/svg/1f307.svg") no-repeat center center;
}

.emoji_8ball {
    background: url("https://twemoji.maxcdn.com/svg/1f3b1.svg") no-repeat center center;
}

.emoji_muscle {
    background: url("https://twemoji.maxcdn.com/svg/1f4aa.svg") no-repeat center center;
}

.emoji_hamburger {
    background: url("https://twemoji.maxcdn.com/svg/1f354.svg") no-repeat center center;
}