@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,600);

body {
    background: rgb(240, 239, 237);
    color: #333;
    font: normal 4vw 'PT Sans', sans-serif;
    line-height: 1.5em;
    margin: 0;
}

.challenge {
    margin: 5vw;
}

.challenge__title {
    font-size: 1.5em;
    margin-bottom: 2vw;
}

.player {}

.player__email {
    font-size: 1.5em;
    text-align: center;
    margin: 7.5vw auto 2.5vw;
}

.player__name {
    text-align: center;
    margin: 2.5vw auto 2.5vw;
}

.player__cards {
    display: flex;
    flex-direction: column;
    padding: 5vw 10vw;
}

.player__profile {
    background: #fff;
    padding: 2.5vw 7.5vw;
    text-align: center;
}

.player__profile__name {
    color: inherit;
    text-decoration: none;
}

.player__profile__score {
    font-size: 3vw;
}

.player__profile__score:before {
    content: '🏆'; /* cup */
}

.player__card__wrapper {
    perspective: 1000px;
}

.player__card,
.player__profile {
    border: solid 1px #ddd;
    box-shadow: 0 1.5vw 2.5vw #ccc;

    box-sizing: border-box;
    margin-bottom: 7.5vw;

    position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;
}

.player__card_flipped {
    transform: rotateY(180deg);
}

.player__card_played {
    display: none;
}

.player__card__front {
    background: #fff;
    display: flex;
    flex-direction: column;
    transform: rotateY(180deg);
    z-index: 2;
}

.player__card__back {
    cursor: pointer;
    background: linear-gradient(-45deg, rgb(221, 214, 242), rgb(249, 174, 171));
    transform: rotateY(0deg);
}

.player__card__front,
.player__card__back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.player__card,
.player__card__front,
.player__card__back {
    width: 80vw;
    height: 80vw;
}

.player__card__emoji {
    font-size: 25vw;
    line-height: 80vw;
    text-align: center;
}

.player__card__name {
    font-size: 1.25em;
    text-align: center;
    margin: 5vw 7.5vw;
}

.player__card__rules {
    flex-grow: 1;
    font-style: italic;
    margin: 0 7.5vw;
}

.player__card__input {
    border: solid 1px #ddd;
    box-sizing: border-box;
    display: block;
    font: normal 4vw 'PT Sans', sans-serif;
    margin: 2.5vw auto;
    padding: 0.5em;
    width: 100%;
}

.player__card__competitor {
    border-top: solid 1px #ddd;
    padding: 2.5vw 7.5vw 5vw;
}

.player__card__competitor__note {
    color: #999;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.player__card__competitor__name {
    color: inherit;
    text-decoration: none;
}

.player__card__buttons {
    border-top: solid 1px #ddd;
    display: flex;
}

.player__card__buttons__button {
    border-right: solid 1px #ddd;
    cursor: pointer;
    flex-grow: 1;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.75em;
    padding: 2.5vw;
    text-align: center;
    text-transform: uppercase;
}

.player__card__buttons__button:last-of-type {
    border: none;
}

.player__card_played .player__card__buttons__button_solo {
    display: none;
}

.player__card__buttons__button__score {
    color: #666;
    display: block;
    font-size: 4vw;
    font-weight: normal;
    letter-spacing: normal;
}

.player__profile__score:before,
.player__card__buttons__button__score:before {
    font-size: 1.5em;
    padding-right: 0.1em;
    position: relative;
    top: 0.175em;
    left: -0.1em;
}

.player__card__buttons__button_solo .player__card__buttons__button__score:before,
.player__card__buttons__button_win .player__card__buttons__button__score:before {
    content: '😀'; /* smiling face */
}

.player__card__buttons__button_loose .player__card__buttons__button__score:before {
    content: '😦'; /* sad face */
}